$blue: #0984e3;
$light-blue:rgb(116, 149, 233);
$black: #333;
$white: #fff;
$red: red;
$crimson: crimson;
$gold: gold;
$light-black: #666;
$light-bg: #eee;
$border: .2rem solid $light-black;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);

@mixin icon{
    font-size: 1.6rem;
    margin-left: 2rem;
    cursor: pointer;
    background-color: $blue;
    color: $white;
    &:hover{
        color: $gold;
    }
}

.btn{
    margin-top: .5rem;
    display: inline-block;
    border-radius: .5rem;
    padding: .7rem .8rem;
    font-size: 1.3rem;
    color: $white;
    cursor: pointer;
}

.login,
.register{
    
    form{
        max-width: 30rem;
        padding: 2.2rem;
        text-transform: none;
        background-color: $white;
        box-shadow: $box-shadow;
        margin: 1rem auto;
        border: .2rem solid #adcce4;

        h3{
            font-size: 2rem;
            padding-bottom: 1rem;
            color: $light-black;
            text-transform: uppercase;
            background-color: $white;
        }
        .box{
            width: 100%;
            padding: .7rem;
            border-radius: .5rem;
            border: $border;
            font-size: 1rem;
            color: $light-black;
            text-transform: none;
            margin: .2rem 0;
            background-color: $white;
        }
        .show{
            display: flex;
            align-items: center;
            gap: .5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: $white;

            label{
                font-size: 1rem;
                color: $light-black;
                cursor: pointer;
                background-color: $white;
            }
        }
        #message{
            background-color: $white;
        }
    }
    .btn{
        width: 100%;
        text-align: center;
        background-color: $blue;
        &:active{
            background-color: $black;
        }
        &.link{
            background-color: $black;
            text-decoration: none;
            &:hover{
                background-color: $blue;
            }
        }
    }
    p{
        padding-top: 1rem;
        font-size: 1.1rem;
        color: $light-black;
        text-align: center;
        padding-bottom: 1rem;
        background-color: $white;
    }
}

.deleteAll{
    text-align: right;
    margin: 10px;
    padding-right: 4rem;
    
    input{
        height: 15px;
        width: 15px;
        margin: 0 15px;
        transform: translateY(5px);
    }

    span{
        color: $black;
        font-weight: bold;
        letter-spacing: 1px;
    }

    button{
        border: 1px solid $red;
        border-radius: 5px;
        padding: .5rem;
        font-weight: bold;
        color: $black;
        cursor: pointer;
        &:hover{
            color: $white;
            background-color: $red;
        }
    }
}

@media (max-width:1200px){

    *{
      font-size: 90%;
    }
  
    .header{
      padding:2rem;
    }
  }




