@import "../global.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  text-decoration: none;
  background-color: $light-bg;

  &::-webkit-scrollbar{
    width: .5rem;
  }

  &::-webkit-scrollbar-track{
    background: $light-bg;
  }

  &::-webkit-scrollbar-thumb{
    background: $blue;
    border-radius: 5rem;
  }
}
