@import '../../../global.scss';


.footbar{
  position: relative;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  background-color: $light-black;

  @media (max-width: 450px){
    padding: 0 3%;
  }
  
  .foot_text{
    display: flex;
    align-items: center;
    gap:2rem;
    background-color: $light-black;
    justify-content: space-around;
    @media (max-width: 600px){
      gap: 1rem;
    }
    @media (max-width: 450px){
      gap: .6rem;
    }

    .footer_logo{
      background-color: $light-black;

      i{
        background-color: $light-black;
        color: $gold;
        font-size: 1.7rem;

        @media (max-width: 660px){
          font-size: 1.1rem;
        }
        @media (max-width: 450px){
          font-size: .8rem;
        }
      }
      span{
        background-color: inherit;
        color: $white;
        margin-left: 5px;
        font-size: 1.7rem;
        font-weight: bolder;
        @media (max-width: 660px){
          font-size: 1.1rem;
        }
        @media (max-width: 450px){
          font-size: .8rem;
        }

        &:hover{
          color: lightgray;
        }
      }
    }

    .cols{
      background-color: $light-black;
      margin-top: 1rem;
      
      h2{
        background-color: $light-black;
        @media (max-width: 660px){
          font-size: .9rem;
        }
      }
      
      ul{
        list-style: none;
        margin-top: 1rem;
        background-color: $light-black;
        
        li{
          background-color: $light-black;
          margin-top: 1rem;
          a{
            background-color: inherit;
            color: #9b9b9b;
            font-weight: 500;
            @media (max-width: 660px){
              font-size: 80%;
            }
            @media (max-width: 450px){
              font-size: 60%;
            }

            &:hover{
              color: lightgray;
            }
          }
        }
      }
      .share{
        background-color: $light-black;

        li{

          i{
            background-color: $light-black;
            @media (max-width: 450px){
                font-size: 60%;
            }
          }
          a{
            background-color: $light-black;
            text-decoration: none;
            color: #9b9b9b;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  .webmaster{
    background-color: $light-black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    p{
      background-color: inherit;
      text-transform: lowercase;
      @media (max-width: 660px){
        font-size: 60%;
      }
    }
  }
  
  }
