@import '../../../../global.scss';

.slide {
    // width: 600px;
    // height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    min-height: 40rem;
    padding:2rem 0;
  }

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 3rem;
  color:$black;
}