@import "../../../../global.scss";

.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left{
        width: 30%;
        margin: 10rem auto;

        h3{
            font-size: 2rem;
            text-transform: uppercase;
            color: $black;
            padding-bottom: 1rem;
        }
        p{
            padding-top: .5rem;
            font-size: 1.5rem;
            span{
                text-transform: lowercase;
            }
        }
    }
  .right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 5rem;
    padding-top: 2rem;

    form {
      flex: 1 1 30rem;

      h3 {
        font-size: 2rem;
        text-transform: uppercase;
        color: $black;
        padding-bottom: 1rem;
      }

      .inputBox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        input {
          width: 49%;
        }
      }

      .inputBox input,
      textarea {
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        border: $border;
        background: $white;
        text-transform: none;
        color: $light-black;
        font-size: 1rem;
        margin: 0.7rem 0;
      }

      textarea {
        height: 10rem;
        resize: none;
        width: 100%;
      }
      .btnSend{
        margin-top: .5rem;
        display: inline-block;
        border-radius: .5rem;
        padding:.5rem 1rem;
        font-size: 1.2rem;
        color:$white;
        cursor: pointer;
        background: $blue;
      
        &:hover{
          background: $black;
        }
      }
      span{
          color: $crimson;
          padding-left: 1rem;
      }
    }
  }
}
