@import "../../../../global.scss";

@keyframes rotate{
    50%{transform: rotate(80deg);}
    100%{transform: rotate(360deg);}
}

.loading {
  overflow: hidden;
  display: block;
  margin-bottom: 10rem;

  .loader {
    width: 150px;
    height:150px;
    margin: 0 auto;

    div {
      width: calc(100% - 15px);
      height: calc(100% - 15px);
      border: 2px solid rgb(167, 151, 151);
      border-top: 2px solid $light-blue;
      border-radius: 50%;
      animation: rotate 5s linear infinite alternate-reverse;
    }
  }
}
